@charset "UTF-8";

/* ------ Grundstilen för sidorna ----- */

html {
    font-size: 16px;
}

html, body {
    height: 100%;
}

/* Ta bort inbyggda marginaler och ändra box-sizing */
html, body, nav, header, main, aside, footer, section, div, figure {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------ NAV STYLES ----- */
nav {
    background-color: rgb(225, 240, 220);
    display: flex;
    justify-content: end;
    padding: 4px;
    gap: 5px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style: none;
}

#globalnav a {
    background-color: rgb(238, 247, 235);
    color: #000000;
    font-size: 1.3em;
    text-align: left;
    display: block;
    padding: 15px 30px 15px 30px;
    font-weight: 600;
}

#globalnav a:hover, #globalnav a:active {
    background-color: rgb(225, 240, 220);
}

#menuicon {
    display: inline-block;
    background-image: url(../img/hamburgermenu.png);
    background-size: cover;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

#shoppingCart img {
    width: 32px;
}

#menucheckbox {
    display: none;
}

#menucheckbox ~ ul {
    
    transform: scaleY(0);
    transition: 0.6s;
    transform-origin: top;
    position: absolute;
    top: 42px;
    right: 0px;
    display: flex;
    flex-direction: column;
}

#menucheckbox:checked ~ ul {
    transform: scaleY(1);
}

/* ------ LINK STYLES ----- */
a {
    text-decoration: none;
}