@charset "UTF-8";

/* ------ Grundstilen för sidorna ----- */

html {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    height: 100%;
}

/* Ta bort inbyggda marginaler och ändra box-sizing */
html, body, nav, header, main, aside, footer, section, div, figure {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    color: #000000;
    margin: 0 7px
}

body {
    background-color: rgb(248, 246, 244);
}

/* ------ NAV STYLES ----- */
nav {
    background-color: rgb(225, 240, 220);
    display: flex;
    justify-content: flex-end;
    padding: 4px;
    gap: 5px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style: none;
}

#homepageNav {
    margin-right: auto;
}

#homepageNav a {
    font-size: 1.4em;
    padding-left: 5px;
    color: #000000;
}

#globalnav a {
    background-color: rgb(238, 247, 235);
    color: #000000;
    font-size: 1.3em;
    text-align: left;
    display: block;
    padding: 15px 30px 15px 30px;
    font-weight: 600;
}

#globalnav a:hover, #globalnav a:active {
    background-color: rgb(225, 240, 220);
}

#menuicon {
    display: inline-block;
    background-image: url(../img/hamburgermenu.png);
    background-size: cover;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

#shoppingCart img {
    width: 32px;
}

#menucheckbox {
    display: none;
}

#menucheckbox ~ ul {
    transform: scaleY(0);
    transition: 0.6s;
    transform-origin: top;
    position: absolute;
    top: 42px;
    right: 0px;
    display: flex;
    flex-direction: column;
}

#menucheckbox:checked ~ ul {
    transform: scaleY(1);
}

/* ------ HEADER STYLES ----- */

#homepageHeader {
    background-image: url(../img/trees-banner.jpg);
    background-size: cover;
    background-position: center;
    height: 120px;
}

/* ------ FONT STYLES ----- */

h1 {
    text-align: center;
    margin: 0;
    padding: 15px;
    font-size: 2em;
    font-weight: 600;
}

h2 {
    font-size: 1.15em;
}

/* ------ LINK STYLES ----- */
a {
    text-decoration: none;
}

/* ------ PICTURE STYLES ----- */

img {
    max-width: 100%;
}

/* ------ LIST STYLES ----- */

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

#localnav a {
    font-size: 1.1em;
    padding: 6px;
    display: block;
    border-bottom: solid 1.5px #000000;
}

#localnav a:link, #localnav a:visited {
    color: #000000;
}

/* ------ PRODUCTS STYLE ----- */

#produkter {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

#produkter figure {
    background-color: rgb(255, 255, 255);
    flex: 1 0 240px;
    max-width: 500px;
}

#produkter a {
    display: none;
    padding-left: 15px;
    margin-right: auto;
}

#produkter a:link, #produkter a:visited {
    color: rgb(53, 53, 138);
}

#produkter a img {
    width: 32px;
}

#produkter h3 {
    font-size: 1.1em;
    padding: 0 10px;
    margin-bottom: 0;
}

#produkter p {
    margin: 8px 10px 10px 10px
}

@media screen and (min-width: 278px) {
    #produkter a {
        display: inline-block;
    }
}